
.search_list {
    padding: 0 10px;
}
.search_list span {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}
.content {
    padding: 0 10px 20px;
}
.content ul {
    border: 1px dashed #ccc;
}
.content ul li {
    border-bottom: 1px dashed #ccc;
}
.content ul li:last-child {
    border-bottom: none;
}
.content ul li a {
    font-size: 12px;
    padding-left: 10px;
}